$module: 'dashboard';

.#{$module}-chart-indicators {
	font-family: 'Roboto Light';
	span {
		display: block
	}
	text-align: center;
}
.#{$module}-chart-link {
	margin-top: 60px;
}
.#{$module}-chart-title {
	font-size: 22px !important;
}
.#{$module}-chart {
	text-align: center
}
.#{$module}-chart-indicator-number {
	font-size: 25px;
	color: $gray
}
.#{$module}-chart-indicator-type {
	color: $gray-light
}