$module: 'document';

.#{$module} {
	z-index: 99999;
	position: fixed;
	top: 97px;
	left: 0;
	background-color: rgba(black, .7);
	padding: 30px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.#{$module}-logo {
	width: 128px;
	height: 128px;
}
.#{$module}-wrapper {
	background-color: white;
	padding: 60px;
	width: 800px;
	position: absolute;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}
.#{$module}-body {
	p {
		text-align: justify
	}
}
.#{$module}-title,
.#{$module}-info-student,
.#{$module}-footer {
	margin-top: 80px
}
.#{$module}-signature {
	margin: 50px auto;
	border-top: 1px solid black;
	padding-top: 20px;
	width: 300px;
	display: block
}
.#{$module}-field + .#{$module}-field {
	margin-top: 20px;
}

@media print {
    .#{$module} {
	    padding: 0;
	    margin: 0;
	    overflow: inherit;
	    width: 100%;
		h1 {
			font-size: 25px;
		}
		h2 {
			font-size: 20px;
		};
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0
	}
	.#{$module}-logo {
		width: 64px;
		height: 64px;
	}
	.#{$module}-wrapper {
		width: 100%;
		background: transparent;
		padding: 0;
		margin: 0;
		position: relative;
	}
	.#{$module}-title,
	.#{$module}-info-student,
	.#{$module}-footer {
		margin-top: 30px;
	}
}