@media(max-width:480px) {
	.navbar-toolbar .navbar-brand {
    	font-size: 18px;
	}
	.navbar-masthead.navbar-fixed-top {
		top: 103px;
	}
	.nav-tabs.navbar-fixed-top {
		top: 147px;
	}
}
@media(min-width:768px) {
	.btn-container {
		text-align: right;
	}
}
@media(max-width:768px) {
	.navbar > .navbar-brand {
		margin-left: 0;
	}
	.btn-container{
	    width: 100%;
	    text-align: center;
	}
}
@media(max-width:992px) {
	.navbar-masthead.navbar-fixed-top {
		top: 103px;
	}
	.nav-tabs.navbar-fixed-top {
		top: 147px;
	}
	main {
		margin: {
	        top: 50px;
	    }
	}
	.tullli-bar.sendToBack {
		@include box-shadow(rgba(black, .1) 0 0 0);
	}
}
@media(max-width:1200px) {
	.header-title {
		text-align: center;
	}
	.subheader-title {
		text-align: center;
	}
}
@media(max-width: 992px) {
        
}