$module: 'profile';

.#{$module} {
	width: 100%;
	padding: 0;
	z-index: 99;
	//@include box-shadow(rgba(black, .1) 0 2px 4px);
}
.#{$module}-header {
	background: {
		color: $gray-special
	}
	@include background-size(20%);
}
.#{$module}-avatar {
	bottom: -50px;
	margin: 0 auto;
	text-align: center;
	img {
		@include border-radius(50%);
		width: 100px;
		background: {
			color: #9FC2FF
		}
	}
}
.#{$module}-body {
	padding: {
		top: 40px;
		bottom: 20px;
	}
}
.#{$module}-name {
	//@include adjust-font-size-to(22px);
}
.#{$module},
.#{$module}-avatar {
	position: relative;
}
.#{$module}-info {
	position: relative;
	top: -15px
}