$block: 'footer';

.#{$block}-transparent {
	position: fixed;
	left: 0;
	width: 100%;
	padding: 10px;
	z-index: 10;
    background: $body-white;
    border: {
    	top: 1px solid #ccc;
    }
}
.#{$block}-black {
	position: absolute;
	background: $gray-dark;
	color: white;
	height: 60px;
}
.#{$block}-transparent,
.#{$block}-black {
	bottom: 0;
	text-align: center;
}