$core: 'layout';
body {
    background-color: $gray-body;
    &.has-tab {
	    padding-top: 163px;
    }
    &.has-nav {
	    padding-top: 115px;
    }
}
p {
	margin: 0
}
td, th {
    vertical-align: middle !important;
}
a {
	color: $brand-primary;
	&:hover {
		color: $brand-primary;
	}
}
th {
	text-transform: uppercase;
	font-size: 11px
}

// Bootstrap
// Grid
.row + .row {
	@include leader(2);
}
form {
	.row + .row {
		margin: {
			top: 0
		}
	}
}
// Buttons
.btn {
	font-weight: normal
}
.btn-link {
	cursor: pointer;
	color: $brand-primary;
	&:hover {
		text-decoration: none
	}
}
.btn-separator {
	margin: {
		top: 10px;
		bottom: 10px;
	}
}
.input_fields_wrap {
	.btn-link {
		color: black
	}
}
.btn-white {
  @include button-variant(#333, white, #ccc);
}
// Panel
.panel-login {
    background-color: $gray-special
}
.panel-orange,
.panel-red,
.panel-blue,
.panel-green,
.panel-black {
	border: {
		top: 4px solid
	}
}
.panel-orange {
	border-top-color: $brand-warning;
}
.panel-red {
	border-top-color: $brand-danger;
}
.panel-blue {
	border-top-color: $brand-primary;
}
.panel-green {
	border-top-color: $brand-success;
}
.panel-black {
	border-top-color: black;
}
.dropdown-form {
	width: 220px;
	li {
		padding-left: 10px;
		padding-right: 10px 
	}
}
.panel-bg-blue {
	background: {
		color: $brand-primary
	}
	color: white
}
.panel-footer {
	background: transparent;
	border: 0
}
.panel-body h3 {
	margin: {
		bottom: 10px
	}
	font-size: 18px;
	font-weight: bold
}
// Tabs
.tab-pane {
	padding: {
		top: rhythm(2)
	}
}
// Alert
.alert {
	@include box-shadow(rgba(black, .2) 0 2px 4px);
}
// Inputs
.input_fields_wrap {
	.input-group {
		margin: {
			top: 15px;
			bottom: 15px
		}
	}
}
// Nav bar
.navbar {
	border: none
}
.has-tabs .navbar {
	margin-bottom: 0
}
.nav-tabs-google {
	text-align: center;
	margin: {
		bottom: 20px
	}
	background: {
		color: white
	}
	li {
		display: inline-block;
		float: none
	}
}
.navbar-masthead.navbar-default {
	background-color: $gray-special 
}
.navbar-masthead.navbar-default .navbar-brand {
	color: black
}
.navbar-masthead .navbar-brand {
	font-size: 18px
}
.panel {
	.nav-tabs-google {
		margin: {
			bottom: 0
		}
	}
	.nav-tabs {
		border: none;
	}
}
.navbar-masthead.navbar-fixed-top {
	top: 53px;
	z-index: 1029
}
.nav-tabs.navbar-fixed-top {
	top: 97px;
}
.navbar-masthead.navbar-fixed-top,
.nav-tabs.navbar-fixed-top {
	z-index: 1029
}
// Form
.as-label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	border: 0;
	font-size: inherit;
}
// label 
.label-circle {
	width: 10px;
	height: 10px;
	@include border-radius(100px)
}
// accordion
.panel-group .panel-heading {
	border-color: white
}
// Table
.table-responsive {
	border: 0;
	margin: {
		bottom: 0
	}
}
.table-no-margin {
	margin: {
		bottom: 0
	}
}
// Image
.image-container {
	display: inline-block;
	background: {
		color: #9FC2FF
	}
}
.image-container-separator {
	margin: {
		right: 10px;
	}
}
// Dropdown
.typeahead.dropdown-menu {
	width: 100%;
}
// jumbotron

.jumbotron {
	background-color: #f7f7f7;
	color: #333
}




.btn-append-#{$core} {
    background: {color: transparent;}
    border: 1px solid #ccc;
    border: {left: 1px solid transparent;}
}

.dropdown-#{$core} {
    display: table-cell;
    position: relative;
    width: 100%;
    
    .dropdown-menu-#{$core} {
        width: 100%;
        padding: 10px;
        margin: {
            top: -1px;
        }   
    }
    
}

.#{$core}-module-space {
    padding: 30px 0;
}

.dropdown-menu-left{
	> .dropdown-menu {
		margin: {
			left: -5px !important;
		} 
	}
}

.selectInput {
    margin: 5px 0 !important;
}


.check-label {
    padding-left: 10px
}

td.actions {
    width: 80px;  
}

.inner-navbar {
    margin-top: 53px;
}


.navbar-masthead .nav .active
 {
    a {
        font-weight: bold;

        &:after {
            position: absolute;
            bottom: -8px;
            left: 50%;
            display: inline-block;
            margin-left: -7px;
            content: '';
            border-right: 7px solid transparent;
            border-bottom: 7px solid $body-white;
            border-left: 7px solid transparent;
        }

    }
    
}

.revolution {
    @include transform(rotate(180deg));
    @include transform(scaleX(-1));
  
}

.modules {
    .panel {
        height: 220px;

        .panel-body {
            height: 156px;
        }

        .panel-footer {
            position: relative; 
            bottom: 0;
            left: 0;
            margin: 0;
        }
    }
}

.subpage-name {
    width: 160px;
}

.action-label {
    max-width: 105px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}




/**/

.navbar-masthead .navbar-brand {
    padding: {
        left: 0;
        right: 0
    }    
    margin: 0 !important;
}


