
//
// Variables
// --------------------------------------------------
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$gray-special:			 #F7F7F7;
$gray-body: 			 #e5e5e5;

// Brand colors
// -------------------------

$brand-primary:         #427fed !default;
$brand-success:         #62b450 !default;
$brand-warning:         #ed9c28 !default;
$brand-danger:          #d14836 !default;
$brand-info:            #5bc0de !default;
$brand-inverse:         #333333 !default;
$brand-pop:				#8E44AD !default;

// Scaffolding
// -------------------------

$body-bg:               $gray-lighter !default;
$body-white:			#ffffff;
$text-color:            $gray-dark !default;


// Typography
// -------------------------

$font-family-sans-serif:  Roboto, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-logo:		  Carme !default;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-small-x:         ceil(($font-size-base * 0.65)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$headings-font-family:    'Roboto Light' !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
